header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .center {
        max-width: 1400px;
        height: 100%;
        display: flex;
        justify-content: space-between;

            // logo
        .logoArea {
            width: auto;
            height: 100%;
            display: flex;

            .logo {
                width: 133px;
                height: 36px;
            margin: auto;
                cursor: pointer;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
        .right {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            .top {
                width: 100%;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            
                    .logIN_Area {
                        width: auto;
                        height: 100%;
        
                        form {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            margin-right: 12px;
        
                            label {
                                margin-right: 12px;
                                position: relative;
        
                                input {
                                    max-width: 188px;
                                    min-width: 141px;
                                    height: 28px;
                                    padding: 0 1rem;
                                    @include headerInput;
                                }
                            }
        
                            button {
                                width: auto;
                                height: 28px;
                                white-space: nowrap;
                                padding: 0 0.5rem;
                                margin-right: 12px;
        
                                &.login{
                                    @include mainBtn;
                                }
        
                                &.signup{
                                    @include subBtn;
                                    margin-right: 0;
                                }
                            }
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;

                        .q_icon {
                            width: 19px;
                            height: 19px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            border: 1px solid $subFont;
                            color: $subFont;
                            font-size: 13px;
                            margin-right: 0.5rem;
                        }

                        p {
                            color: $subFont;
                            font-size: 1.2rem;
                        }
                    }
        
                    .lang {
                        width: auto;
                        height: 80%;
                        border-radius: 5px;
                        @include lang;
                        margin-left: 12px;
                        cursor: pointer;
        
                        p {
                            white-space: nowrap;
                            margin: 0 10px;
                            span {
                                margin-left: 30px;
                                position: relative;
            
                                &::before {
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 6px 4px 0 6px; 
                                    border-color: $subFont transparent transparent transparent;
                                    position: absolute;
                                    top: 50%;
                                    left: -15px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                
        
                @media only screen and (max-width:1120px) {
                    .center {
                        input {
                            width: 5%;
                        }
                    }
                }
            }
        
            .bottom {
                width: 100%;
                height: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 258px;
        
                li {
                    width: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.2s all;
                    position: relative;
                    cursor: pointer;
        
                    p {
                        color: $headerNav_font;
                        font-size: 20px;
                        font-weight: bold;
                        white-space: nowrap;
                        margin: 0 22px;
                        position: relative;
                    }

                    &:hover,&:active,&.active {
                       
                        background: $nav_ACT;

                        p {
                            color: $subFont;
                        }
                    }
                    }
        
                    @media only screen and (max-width:1600px) {
                        .center {
                            li {
                                p {
                                    font-size: 19px;
                                }
                            }
                        }
                    }
                    @media only screen and (max-width:1692px) {
                        li {
                            p {
                                font-size: 17.5px;
                            } 
                        }
                    }
                    @media only screen and (max-width:1666px) {
                        li {
                            p {
                                font-size: 17px;
                            } 
                        }
                    }
                    @media only screen and (max-width:1000px) {
                        li {
                            p {
                                font-size: 14px;
                                margin: 0 5px;
                            } 
                        }
                    }
            }
        }

    }
    
    @media only screen and (max-width: 1314px) {
        .bottom {
        
            .center {
                li {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1266px) {
        .bottom {
        
            .center {
                li {
                    p {
                        margin: 0 20px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1223px) {
        .bottom {
        
            .center {
                li {
                    p {
                        margin: 0 15px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1125px) {
        .bottom {
        
            .center {
                li {
                    p {
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1045px) {
        .top {
            padding-left: 22%;
        }
        .bottom {
        
            .center {
                li {
                    p {
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1008px) {
        .top {
            padding-left: 22%;
            .center {
                .logIN_Area {
                    form {
                        button {
                            width: 98px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .logoArea {
            left: -206px;
            .logo {
                left: 228px;
            }
        }
        .top {
            padding-left: 235px;
            .center {
                padding: 0 8px;
                justify-content: unset;

                .logIN_Area {
                    width: 68%;
                }
            }
        }
        .bottom {
            height: 65px;
            padding-left: 219px;
            .center {
                font-size: 14px;
                padding: 0;
                li {
                    p {
                        margin: 0 6px;
                    }
                }
            }
        }
    }
}